h1 {
  color: red;
}

.shopSign {
  text-align: center;
}

.navbar {
  margin-left: 10px;
}

#inventoryBox {

}

.container-fluid {
  
}

.row {
 
}

.cardToggle {
  border: 10px solid black;
  background-color: lime;
}

.card {
  border: 1px solid black;
  background-color: lightgrey;
  margin: 1em;
  height: 300px;
  width: 400px;
}

